html {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;

  body {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;

    main {
      height: 100%;
      overflow: hidden;

      #buttons {
        display: flex;
        flex-direction: row;
        background: #999;
        white-space: nowrap;
        align-items: center;

        .username {
          background: #222;
          color: white;
          padding: 1px 5px 3px;
          border-radius: 4px;
          margin-left: 0.25em;
        }

        button {
          height: 1.75em;
        }
      }

      ul {
        padding: 0;
        list-style: none;
        height: auto;

        &#filetree {
          border: 1px solid #444;
          font-family: Arial;
          padding: 0.25em;
          overflow-x: auto;

          &.drop {
            background: #cceeff44;
            color: #333;
          }
        }

        li ul {
          padding-left: 0.5em;
        }

        li {
          white-space: nowrap;

          &.dir {
            color: #666;
            font-weight: bolder;
            font-variant: small-caps;
          }

          &.file {
            color: #222;
            font-weight: normal;
            font-variant: normal;
          }

          &:not(:has(ul)):hover {
            background: #eee;
            color: #666;
            cursor: pointer;
            &.dir {
              cursor: auto;
            }
          }
        }
      }

      #tabnav {
        #left,
        #right {
          align-self: center;
          & button {
            width: 100%;
            height: 2.5em;
            margin: 0;
            padding: 0;
          }
        }

        #tabs {
          white-space: nowrap;
          overflow: hidden;
          display: flex;
          align-items: flex-end;
          padding: 0 0.5em;

          .tab {
            cursor: pointer;
            border: 1px solid black;
            border-radius: 0.5em 0.5em 0 0;
            padding: 0.25em 0.75em;
            border-bottom: none;
            top: 0.35em;
            position: relative;
            display: inline-block;

            & + div {
              margin-left: 0.5em;
            }

            &.active {
              background: #e3f6ff;
              color: #333;
            }

            .close {
              position: relative;
              top: -0.3em;
              left: 1.1em;
              background: inherit;
              border: 1px solid gray;
              border-radius: 25%;
              background: #e2bc491f;

              &:hover {
                background: red;
                color: white;
                cursor: pointer;
              }
            }
          }
        }
      }

      #editors {
        max-height: 100%;
        overflow: auto;
        border: 1px solid grey;

        .editor.tab {
          width: 100%;
        }
      }

      iframe {
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 1px);
        height: 100%;
        border: 1px solid gray;
        box-sizing: border-box;
      }

      graphics-element {
        table.slider-wrapper {
          background: #ececec;
          margin-bottom: 0.25em;
        }
      }

      #status {
        background: #eee;
        padding: 0.25em 0.5em 0.25em;
        font-family: sans-serif;
        font-style: italic;
        border: 1px solid gray;
        border-bottom: none;
        margin-top: 3px;
        /* hmm */
        position: fixed;
        bottom: 0;
        right: 1px;
        left: 0;
      }
    }
  }

  #filetree button {
    opacity: 0.5;
  }

  button {
    border-radius: 5px;
    margin: 2px 5px;
    border: 1px solid #555;
    border-radius: 3px;

    border-radius: 3px;

    &.clear {
      background: none;
      border: 1px solid #444;
      color: #999;
      right: 1em;
      top: 1em;
      cursor: pointer;
    }

    &.active {
      color: white;
      background: darkgreen;
      border: 2px solid green;
      border-radius: 5px;

      &:hover {
        background: rgb(0, 50, 0);
      }
      &:active {
        color: darkgreen;
        background: white;
      }
    }
  }
}
