html {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;

  body {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;

    main {
      height: 100%;
      overflow: hidden;

      #left button,
      #right button {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
      }

      #buttons {
        background: #999;
        text-align: right;
        list-style: none;
      }

      ul {
        padding: 0;
        list-style: none;
        height: auto;

        &#filetree {
          border: 1px solid #444;
          font-family: Arial;
          padding: 0.25em;

          &.drop {
            background: #cceeff44;
            color: #333;
          }
        }

        li ul {
          padding-left: 0.5em;
        }

        li {
          white-space: nowrap;

          &.dir {
            color: #666;
            font-weight: bolder;
            font-variant: small-caps;
          }

          &.file {
            color: #222;
            font-weight: normal;
            font-variant: normal;
          }

          &:not(:has(ul)):hover {
            background: #eee;
            color: #666;
            cursor: pointer;
            &.dir {
              cursor: auto;
            }
          }
        }
      }

      #tabs {
        white-space: nowrap;
        overflow: hidden;

        .tab {
          cursor: pointer;
          border: 1px solid black;
          border-radius: 0.5em 0.5em 0 0;
          padding: 0.25em 0.75em;
          border-bottom: none;
          top: 0.35em;
          position: relative;
          display: inline-block;

          & + div {
            margin-left: 0.5em;
          }

          &.active {
            background: #cceeff44;
            color: #333;
          }

          .close {
            position: relative;
            top: -0.3em;
            left: 1.1em;
            background: inherit;
            border: 1px solid gray;
            border-radius: 25%;
            background: #e2bc491f;

            &:hover {
              background: red;
              color: white;
              cursor: pointer;
            }
          }
        }
      }

      #editors {
        max-height: 100%;
        overflow: auto;
        border: 1px solid grey;
      }

      graphics-element {
        table.slider-wrapper {
          background: #ececec;
          margin-bottom: 0.25em;
        }
      }
    }
  }

  button {
    border-radius: 5px;
    margin: 2px 5px;

    &.clear {
      background: none;
      border: 1px solid #444;
      color: #999;
      right: 1em;
      top: 1em;
      cursor: pointer;
    }

    &.active {
      color: white;
      background: darkgreen;
      border: 2px solid green;
      border-radius: 5px;

      &:hover {
        background: rgb(0, 50, 0);
      }

      &:active {
        color: darkgreen;
        background: white;
      }
    }
  }
}
